.env.local <- FILE

---- THE FOLLOWING VARIABLES ARE NECESSARY TO USE GOOGLE AUTH ---

We can get this credentials in a project of google console - https://console.cloud.google.com/

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


---- THE FOLLOWING VARIABLES ARE NECESSARY TO USE NEXT AUTH AND PROTECT ROUTES WITH MIDDLEWARE ---

NEXTAUTH_URL= app url

NEXTAUTH_SECRET= generate a secrete here:
link: https://generate-secret.vercel.app/32
documentation: https://next-auth.js.org/deployment#vercel